<h1 mat-dialog-title>{{action}} sales</h1>

<div mat-dialog-content>
    <form [formGroup]='salesForm'>

        <mat-form-field class="full-width">
            <mat-label>Customer</mat-label>
            <mat-select formControlName="customerId">
                <mat-option *ngFor="let c of customers" [value]="c.value">
                {{c.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Product</mat-label>
            <mat-select formControlName="productId">
                <mat-option *ngFor="let p of products" [value]="p.value">
                {{p.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        
        <mat-form-field  class="full-width">
            <input matInput type="number" placeholder="Quantity*" formControlName='quantity' >
        </mat-form-field>

    </form>
   
</div>

<div mat-dialog-actions>
    <button mat-button (click)='cancelClick()'>Cancel</button>
    <button mat-button (click)='submitForm()' [disabled]='!salesForm.valid'>{{action}}</button>
</div>


