
<button mat-raised-button (click)='addCustomer()' style="margin-right: 5px;">Create</button>
<button mat-raised-button (click)='editCustomer()'>Edit</button>
<br>
<br>

<table mat-table [dataSource]='dataSource' class="mat-elevation-z8" width="100%">
   
    <ng-container matColumnDef="customerId">
        <th mat-header-cell *matHeaderCellDef> Cusotmer Id </th>
        <td mat-cell *matCellDef="let element"> {{element.customerId}} </td>
    </ng-container>
    
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
    </ng-container>

    <ng-container matColumnDef="middleName">
        <th mat-header-cell *matHeaderCellDef> Middle Name </th>
        <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr (click)='onRowClicked(row)' mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"></tr>

</table>
<span *ngIf="userMsg" style="color: red;font-size: medium;font-weight: bold;">No Records!</span>
