<h1 mat-dialog-title>{{action}} product</h1>

<div mat-dialog-content>
    <form [formGroup]='prodForm'>

        <mat-form-field  class="full-width">
            <input matInput type="text" placeholder="Name*" formControlName='name'>
        </mat-form-field>
        
        <br>
        <mat-form-field class="full-width">
            <input matInput type="text" placeholder="Description*" formControlName='description'  >
        </mat-form-field>
    
        <mat-form-field  class="full-width">
            <input matInput type="number" placeholder="Stock*" formControlName='stock' >
        </mat-form-field>

        <div *ngIf="action == 'Add'">
            <mat-form-field  class="full-width">
                <input matInput type="date" placeholder="Start Date*" formControlName='startDate'>
            </mat-form-field>

            <mat-form-field  class="full-width">
                <input matInput type="date" placeholder="End Date*" formControlName='endDate' >
            </mat-form-field>

            <mat-form-field  class="full-width">
                <input matInput type="number" placeholder="Rate*" formControlName='rate' >
            </mat-form-field>
        </div>

    </form>
   
</div>

<div mat-dialog-actions>
    <button mat-button (click)='cancelClick()'>Cancel</button>
    <button mat-button (click)='submitForm()' [disabled]='!prodForm.valid'>{{action}}</button>
</div>


